
<div class="row">
  <div class="col-md-8">
    <h1>Lista de usuarios</h1>
  </div>
  <div class="col-md-3">
    <button (click)="logout()" type="button" class="btn btn-secondary">Cerrar Sesión</button>
  </div>
</div>
<hr>

<div class="row">
  <div *ngFor="let usuario of usuarios" class="card" style="width: 18rem;">
    <img class="card-img-top" [src]="usuario.avatar" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"> {{usuario.first_name}} {{usuario.last_name}}</h5>
      <h6 class="card-text"> {{usuario.email}} </h6>
      <p class="card-text">Id de usuario: {{usuario.id}} </p>
      <a href="#" class="btn btn-danger">Eliminar</a>
    </div>
  </div>
</div>
